:root {
  --accent: #97DBAE;
  --primary: #0D1117;
  --secondary: #161B22;
  --primary-text: #D6D6D6;
  --secondary-text: #838383;
}

* {
  box-sizing: border-box;
}

body, h1 {
  margin: 0;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  color: var(--accent);
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--primary-text);
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  background-color: var(--primary);
  scroll-snap-type: y mandatory;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.view {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
}

.view--second, .view--third {
  background-color: var(--secondary);
}

.view--first {
  background: url('../res/waves.svg') no-repeat bottom;
  background-size: 100%;
}

.view--last {
  background: url('../res/waves-end.svg') no-repeat top;
  background-size: 100%;
}

@media screen and (max-width: 1200px) {
  .view--first, .view--last {
    background-size: auto;
  }
}
